div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  height: 150px;
  width: 78dvw;
  font-size: 36px;
  p {
    padding-left: 50px;
  }

  #user-name {
    font-weight: bold;
  }
}
