@import 'reset.css';
@import 'app-colors.css';

body {
  background-color: var(--default-background);

  /* sono font */
  font-family: 'Sono', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'MONO' 1;

  /* main styles */
  font-size: 16px;
}

.megrim {
  font-family: 'Megrim', serif;
  font-weight: 400;
  font-style: normal;
}
