<div id="container">
  <div id="login-box" class="sono">
    <div id="gradient">
      <div id="app-title">
        <p class="megrim">LEAPFORCE</p>
        <p>team manager</p>
      </div>
      <div id="greeting">
        <p>¡Bienvenido de vuelta!</p>
      </div>
    </div>
    <div id="login">
      <p id="login-title">Inicio de sesión</p>
      <app-login-form />

      <div>
        <div id="support">
          <p>Si tienes problemas para iniciar sesión contactate con</p>
          <p>support&#64;leapforce.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
