div {
  background-color: var(--login-box);
  height: calc(100dvh - 20px);
  border-radius: 10px;
  width: 20dvw;
  overflow: hidden;
  margin: 10px 0 0 10px;
  box-shadow: 0 0 12px var(--shadow);

  #app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    font-size: 2em;
    height: 10%;
  }

  #app-title,
  #management,
  #general {
    margin: 0;
    box-shadow: none;
  }

  #management,
  #general {
    margin-top: 10px;
    border-radius: 0;
    height: max-content;
  }
}
