<div>
  <div>
    <div>
      <p>Tareas pendientes</p>
      <p>{{ getPendingTasks() }}</p>

      <!-- <div>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Fecha de fin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>nombre</td>
              <td>status</td>
              <td>fin</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
</div>
