/* You can add global styles to this file, and also import other style files */
@import "./app/reset.css";
@import "./appColors.css";

.megrim {
  font-family: "Megrim", serif;
  font-weight: 400;
  font-style: normal;
}

.sono {
  font-family: "Sono", serif;
  font-optical-sizing: auto;
  font-variation-settings: "MONO" 1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
