div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  border-radius: 10px;
  height: 80px;
  width: 65dvw;
  /* font-size: 18px; */

  p {
    padding-left: 50px;
  }

  #user-name {
    font-weight: bold;
  }
}
