form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-top: 50px;
  position: relative;

  input {
    height: 50px;
    width: 450px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    box-shadow: 0 0 12px #8a8a8a;
  }

  #button-container {
    position: absolute;
    bottom: 0px;
  }

  button {
    height: 50px;
    width: 225px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  }

  button:hover {
    box-shadow: 0 0 12px #8a8a8a;
  }
}
