:root[data-theme='light'] {
  --text-50: #e9f4fb;
  --text-100: #d3eaf8;
  --text-200: #a7d5f1;
  --text-300: #7bbfea;
  --text-400: #50aae2;
  --text-500: #2495db;
  --text-600: #1d77af;
  --text-700: #155984;
  --text-800: #0e3c58;
  --text-900: #071e2c;
  --text-950: #040f16;

  --background-50: #e9f7fc;
  --background-100: #d3eef8;
  --background-200: #a7ddf1;
  --background-300: #7bcdea;
  --background-400: #4fbce3;
  --background-500: #22abdd;
  --background-600: #1c89b0;
  --background-700: #156784;
  --background-800: #0e4458;
  --background-900: #07222c;
  --background-950: #031116;

  --primary-50: #eef4f6;
  --primary-100: #dde8ee;
  --primary-200: #bcd2dc;
  --primary-300: #9abbcb;
  --primary-400: #78a5ba;
  --primary-500: #578ea8;
  --primary-600: #457287;
  --primary-700: #345565;
  --primary-800: #233943;
  --primary-900: #111c22;
  --primary-950: #090e11;

  --secondary-50: #eeeff6;
  --secondary-100: #dddeee;
  --secondary-200: #bcbedc;
  --secondary-300: #9a9dcb;
  --secondary-400: #787dba;
  --secondary-500: #575ca8;
  --secondary-600: #454a87;
  --secondary-700: #343765;
  --secondary-800: #232543;
  --secondary-900: #111222;
  --secondary-950: #090911;

  --accent-50: #efeef6;
  --accent-100: #e0ddee;
  --accent-200: #c1bbdd;
  --accent-300: #a299cc;
  --accent-400: #8377bb;
  --accent-500: #6355aa;
  --accent-600: #504488;
  --accent-700: #3c3366;
  --accent-800: #282244;
  --accent-900: #141122;
  --accent-950: #0a0911;

  --login-gradient: linear-gradient(180deg, var(--background-500) 0%, var(--accent-600) 100%);
}

:root[data-theme='dark'] {
  --text-50: #040f16;
  --text-100: #071e2c;
  --text-200: #0e3c58;
  --text-300: #155984;
  --text-400: #1d77af;
  --text-500: #2495db;
  --text-600: #50aae2;
  --text-700: #7bbfea;
  --text-800: #a7d5f1;
  --text-900: #d3eaf8;
  --text-950: #e9f4fb;

  --background-50: #031116;
  --background-100: #07222c;
  --background-200: #0e4458;
  --background-300: #156784;
  --background-400: #1c89b0;
  --background-500: #22abdd;
  --background-600: #4fbce3;
  --background-700: #7bcdea;
  --background-800: #a7ddf1;
  --background-900: #d3eef8;
  --background-950: #e9f7fc;

  --primary-50: #090e11;
  --primary-100: #111c22;
  --primary-200: #233943;
  --primary-300: #345565;
  --primary-400: #457287;
  --primary-500: #578ea8;
  --primary-600: #78a5ba;
  --primary-700: #9abbcb;
  --primary-800: #bcd2dc;
  --primary-900: #dde8ee;
  --primary-950: #eef4f6;

  --secondary-50: #090911;
  --secondary-100: #111222;
  --secondary-200: #232543;
  --secondary-300: #343765;
  --secondary-400: #454a87;
  --secondary-500: #575ca8;
  --secondary-600: #787dba;
  --secondary-700: #9a9dcb;
  --secondary-800: #bcbedc;
  --secondary-900: #dddeee;
  --secondary-950: #eeeff6;

  --accent-50: #0a0911;
  --accent-100: #141122;
  --accent-200: #282244;
  --accent-300: #3c3366;
  --accent-400: #504488;
  --accent-500: #6355aa;
  --accent-600: #8377bb;
  --accent-700: #a299cc;
  --accent-800: #c1bbdd;
  --accent-900: #e0ddee;
  --accent-950: #efeef6;

  --login-gradient: linear-gradient(180deg, var(--background-500) 0%, var(--accent-600) 100%);
}
