/* :root {
  --default-background: #e5e4e2;
  --login-box: #e8eef2;
  --secondary-200: #b9aeae;
  --sidebar-button: #c7d3dd;
  --app-color-4: #77b6ea;
  --app-color-5: #37393a;
} */

body {
  background-color: var(--background-50);

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  color: var(--text-950);
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-megrim {
  font-family: 'Megrim', serif;
  font-weight: 400;
  font-style: normal;
}
