.dashboard-container {
  display: flex;
  padding: 10px;
  gap: 10px;

  .sidebar,
  .content {
    height: calc(100dvh - 22px);
  }

  .sidebar {
    width: 25dvw;
    background-color: var(--login-box);
    box-shadow: 0 0 12px var(--shadow);
  }

  .content {
    width: 75dvw;
    gap: 10px;
  }

  .card {
    background-color: var(--login-box);
    box-shadow: 0 0 12px var(--shadow);
    border-radius: 10px;
    padding: 20px;
  }

  .module-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  .form-input {
    input {
      font-family: 'Sono', serif;
      height: 50px;
      width: 400px;
      margin-bottom: 20px;
      border-radius: 20px;
      font-size: 1em;
      border: none;
      box-shadow: 0 0 12px var(--shadow);
    }
  }
}
