div {
  div {
    height: 400px;
    background-color: #fff;

    mat-tree {
      tree-button-node {
        background-color: blue;
      }

      mat-tree-node {
        #tree-button {
          border: none;

          height: 50px;
          width: 100%;
          background-color: transparent;
        }
      }
    }
  }
}
